* {
    margin: 0;
    padding: 0;
    
}

main {
    background-color: grey;
    min-height: 80vh;
    min-width: 80vw;
}

header {
    min-width: 100%;
    min-height: 100px;
    background-color: rgb(101, 101, 196);
}
#class2 {
    position: sticky;
    background-color: cornflowerblue;
    top: 10px;
}

#box1 {
    background-color: cornflowerblue;
    width: 350px;
    height: 350px;
    position: relative;
}

#box2 {
    background-color: darksalmon;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
 
